.wp-block-jsforwp-inspector-controls-color {

  background: white;
  padding: 1rem;

  &:not(.high-contrast) {
    background: white !important;
    border: 5px white solid !important;
  }

  &.high-contrast {
    background: black;
    color: white;
  }

}
