composer.lock
/node_modules/
/vendor/
/logs/
/reports/

# You want to have .DS_Store and other environment files/packages in your .gitignore_global configuration.
# @see https://knowthecode.io/labs/local-development-environment-setup-mac/install-configure-git
# I'll include it here to help out.
.DS_Store
.DS_Store?
