@import url(http://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans:400italic,700italic,400,700);
[class^="wp-block-jsforwp-register"] {
  font-family: "PT Sans", sans-serif;
  background: rgba(254, 243, 224, 0.52);
  border: 1px #f7b733 solid;
  color: #222;
  padding: 1rem 1rem 0;
  position: relative;
  margin: 2rem auto 0;
  max-width: 720px; }

.wp-block-jsforwp-register-demo {
  padding: 0 1rem; }

[class^="wp-block-jsforwp-register"]::before {
  content: '';
  position: absolute;
  height: 110px;
  width: 110px;
  bottom: 2px;
  opacity: 1;
  right: 0;
  background-image: url("../images/js-wapuu.svg");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position-x: 20px;
  color: #FEF3E0;
  transition: all .2s ease-in-out; }

.wp-block-jsforwp-register-demo::before {
  background: none;
  content: none; }

[class^="wp-block-jsforwp-register"]:hover::before,
.is-selected [class^="wp-block-jsforwp-register"]::before {
  background-position-x: 44px; }

[class^="wp-block-jsforwp-register"]::after {
  font-size: .8rem;
  font-family: "PT Sans", sans-serif;
  position: absolute;
  padding: 2px 2px 0 4px;
  bottom: 0;
  right: 0;
  background: #387BB2;
  color: #FEF3E0;
  z-index: 100;
  transition: width .6s ease-in-out;
  text-align: right; }

[class^="wp-block-jsforwp-register"] h2 {
  font-family: "Archivo Black", serif; }

.entry-content [class^="wp-block-jsforwp-register"] h2 {
  margin: 1.4rem 0 1rem; }

[class^="wp-block-jsforwp-register"] p {
  font-family: "PT Sans", sans-serif; }

.entry-content [class^="wp-block-jsforwp-register"] p {
  margin: 1rem 0; }

[class^="wp-block-jsforwp-register"] pre {
  background-color: #222;
  border-top: 1px #f7b733 dashed;
  color: #fff;
  padding: 1rem;
  border: 1px black solid;
  margin: 1rem 0;
  overflow: auto; }
.wp-block-jsforwp-register-demo::after {
  content: '/blocks/register-block-type/00-demo'; }
.wp-block-jsforwp-title::after {
  content: '/blocks/register-block-type/01-title'; }
.wp-block-jsforwp-example-category::after {
  content: '/blocks/register-block-type/02-category'; }
.wp-block-jsforwp-icon::after {
  content: '/blocks/register-block-type/03-icon'; }
.wp-block-jsforwp-keywords::after {
  content: '/blocks/register-block-type/04-keywords'; }
.wp-block-jsforwp-example-edit::after {
  content: '/blocks/register-block-type/05-edit'; }
.wp-block-jsforwp-example-save::after {
  content: '/blocks/register-block-type/06-save'; }
.wp-block-jsforwp-example-attributes::after {
  content: '/blocks/register-block-type/07-attributes'; }
.wp-block-jsforwp-example-all::after {
  content: '/blocks/register-block-type/08-all'; }
.wp-block-jsforwp-static {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-jsforwp-static h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-jsforwp-static p {
    font-size: 2.4rem; }
.wp-block-jsforwp-editable {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-jsforwp-editable h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-jsforwp-editable p {
    font-size: 1.4rem; }
.wp-block-jsforwp-editable-multiline {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-jsforwp-editable-multiline h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-jsforwp-editable-multiline p {
    font-size: 1.4rem; }
  .wp-block-jsforwp-editable-multiline li {
    list-style-position: inside; }
.wp-block-jsforwp-alignment-toolbar {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-jsforwp-alignment-toolbar h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-jsforwp-alignment-toolbar p {
    font-size: 1.4rem; }
  .wp-block-jsforwp-alignment-toolbar li {
    list-style-position: inside; }
.wp-block-jsforwp-custom-toolbar {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-jsforwp-custom-toolbar.high-contrast {
    background: #000;
    border-color: #000;
    color: white; }
  .wp-block-jsforwp-custom-toolbar h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-jsforwp-custom-toolbar p {
    font-size: 1.4rem; }
  .wp-block-jsforwp-custom-toolbar li {
    list-style-position: inside; }
.wp-block-jsforwp-inspector-controls {
  padding: .2rem;
  font-size: 1.2rem; }
  .wp-block-jsforwp-inspector-controls:not(.high-contrast) {
    background: white !important; }
  .wp-block-jsforwp-inspector-controls.high-contrast {
    background: black;
    color: white; }
.wp-block-jsforwp-inspector-controls-color {
  padding: .2rem;
  font-size: 1.2rem; }
  .wp-block-jsforwp-inspector-controls-color:not(.high-contrast) {
    background: white !important; }
  .wp-block-jsforwp-inspector-controls-color.high-contrast {
    background: black;
    color: white; }
.wp-block-jsforwp-input-textarea h2 input {
  font-size: 1.4rem; }

.wp-block-jsforwp-input-textarea input[type="text"],
.wp-block-jsforwp-input-textarea textarea {
  width: 100%; }

.wp-block-jsforwp-input-textarea textarea {
  min-height: 6rem; }
.wp-block-jsforwp-url-input label {
  margin-right: 5px; }
.wp-block-jsforwp-dynamic li {
  list-style-position: inside; }
