@import url(http://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans:400italic,700italic,400,700);
[class^="wp-block-jsforwp"] {
  margin: 0;
  max-width: 100%; }

.wp-block-jsforwp-register-demo {
  padding: 1rem; }

.editor-visual-editor [class^="wp-block-jsforwp"],
.editor-visual-editor [class^="wp-block-jsforwp"] p {
  font-family: "PT Sans", sans-serif;
  font-size: 100%; }
.wp-block-jsforwp-register-demo .my-content {
  border: 1px transparent solid;
  padding: 4px 8px;
  margin: -4px -8px; }

.wp-block-jsforwp-register-demo .is-selected .my-content,
.wp-block-jsforwp-register-demo .my-content:focus {
  border: 1px #f7b733 dashed;
  background: rgba(255, 255, 255, 0.8); }

.wp-block-jsforwp-register-demo .is-selected .my-content:hover,
.wp-block-jsforwp-register-demo .my-content:focus {
  border: 1px #f7b733 solid; }
.editor-visual-editor .wp-block-jsforwp-static .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
.editor-visual-editor .wp-block-jsforwp-custom-toolbar p {
  font-size: 1.4rem; }
.wp-block-jsforwp-media-upload .image-wrapper {
  position: relative; }

.wp-block-jsforwp-media-upload button.remove-image {
  background-color: red;
  border: 2px red solid;
  padding: 5px 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9; }
  .wp-block-jsforwp-media-upload button.remove-image svg {
    background: red;
    fill: white; }
  .wp-block-jsforwp-media-upload button.remove-image:hover {
    opacity: 1; }
.editor-visual-editor .wp-block-jsforwp-static-block p {
  font-size: 1.2rem; }

.editor-visual-editor .wp-block-jsforwp-static-block .sorry-warning {
  background: #C44D58;
  color: white;
  font-size: 1.4rem; }
.wp-block-jsforwp-dynamic-alt li {
  list-style-position: inside; }
