.entry-content .wp-block-jsforwpblocks-static,
.wp-block-jsforwpblocks-static {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-static h2,
  .wp-block-jsforwpblocks-static h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-static p,
  .wp-block-jsforwpblocks-static p {
    font-size: 1.4rem; }
.entry-content .wp-block-jsforwpblocks-richtext,
.wp-block-jsforwpblocks-richtext {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-richtext h2,
  .wp-block-jsforwpblocks-richtext h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-richtext p,
  .wp-block-jsforwpblocks-richtext p {
    font-size: 1.4rem; }
