.entry-content .wp-block-jsforwpblocks-static,
.wp-block-jsforwpblocks-static {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-static h2,
  .wp-block-jsforwpblocks-static h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-static p,
  .wp-block-jsforwpblocks-static p {
    font-size: 1.4rem; }
.entry-content .wp-block-jsforwpblocks-richtext,
.wp-block-jsforwpblocks-richtext {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-richtext h2,
  .wp-block-jsforwpblocks-richtext h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-richtext p,
  .wp-block-jsforwpblocks-richtext p {
    font-size: 1.4rem; }
.entry-content .wp-block-jsforwpblocks-text-alignment-toolbar,
.wp-block-jsforwpblocks-text-alignment-toolbar {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-text-alignment-toolbar h2,
  .wp-block-jsforwpblocks-text-alignment-toolbar h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-text-alignment-toolbar p,
  .wp-block-jsforwpblocks-text-alignment-toolbar p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-text-alignment-toolbar li,
  .wp-block-jsforwpblocks-text-alignment-toolbar li {
    list-style-position: inside; }
.entry-content .wp-block-jsforwpblocks-block-alignment-toolbar,
.wp-block-jsforwpblocks-block-alignment-toolbar {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-block-alignment-toolbar h2,
  .wp-block-jsforwpblocks-block-alignment-toolbar h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-block-alignment-toolbar p,
  .wp-block-jsforwpblocks-block-alignment-toolbar p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-block-alignment-toolbar li,
  .wp-block-jsforwpblocks-block-alignment-toolbar li {
    list-style-position: inside; }
.entry-content .wp-block-jsforwpblocks-custom-toolbar,
.wp-block-jsforwpblocks-custom-toolbar {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-custom-toolbar.high-contrast,
  .wp-block-jsforwpblocks-custom-toolbar.high-contrast {
    background: #000;
    border-color: #000;
    color: white; }
  .entry-content .wp-block-jsforwpblocks-custom-toolbar h2,
  .wp-block-jsforwpblocks-custom-toolbar h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-custom-toolbar p,
  .wp-block-jsforwpblocks-custom-toolbar p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-custom-toolbar li,
  .wp-block-jsforwpblocks-custom-toolbar li {
    list-style-position: inside; }
.entry-content .wp-block-jsforwpblocks-inspector-controls,
.wp-block-jsforwpblocks-inspector-controls {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-inspector-controls.high-contrast,
  .wp-block-jsforwpblocks-inspector-controls.high-contrast {
    background: #000;
    border-color: #000;
    color: white; }
  .entry-content .wp-block-jsforwpblocks-inspector-controls h2,
  .wp-block-jsforwpblocks-inspector-controls h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-inspector-controls p,
  .wp-block-jsforwpblocks-inspector-controls p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-inspector-controls li,
  .wp-block-jsforwpblocks-inspector-controls li {
    list-style-position: inside; }
.entry-content .wp-block-jsforwpblocks-inspector-control-fields,
.wp-block-jsforwpblocks-inspector-control-fields {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-inspector-control-fields.high-contrast,
  .wp-block-jsforwpblocks-inspector-control-fields.high-contrast {
    background: #000;
    border-color: #000;
    color: white; }
  .entry-content .wp-block-jsforwpblocks-inspector-control-fields h2,
  .wp-block-jsforwpblocks-inspector-control-fields h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-inspector-control-fields p,
  .wp-block-jsforwpblocks-inspector-control-fields p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-inspector-control-fields li,
  .wp-block-jsforwpblocks-inspector-control-fields li {
    list-style-position: inside; }
.entry-content .wp-block-jsforwpblocks-form-fields,
.wp-block-jsforwpblocks-form-fields {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-jsforwpblocks-form-fields h2,
  .wp-block-jsforwpblocks-form-fields h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-jsforwpblocks-form-fields p,
  .wp-block-jsforwpblocks-form-fields p {
    font-size: 1.4rem; }
  .entry-content .wp-block-jsforwpblocks-form-fields li,
  .wp-block-jsforwpblocks-form-fields li {
    list-style-position: inside; }
.wp-block-jsforwpblocks-dynamic li {
  list-style-position: inside; }

.wp-block-jsforwpblocks-dynamic .spinner {
  float: none;
  margin: 6px 2px 10px 0; }
.wp-block-jsforwpblocks-meta-box label {
  margin-right: 5px; }
