@import url(http://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans:400italic,700italic,400,700);

$font-header: 'Archivo Black', serif;
$font-body: 'PT Sans', sans-serif;
$yellow: #f7b733;
$yellow-light: #FEF3E0;
$yellow-lightest: rgba(254, 243, 224, 0.52);
$yellow-dark: #ac7408;
$font-color-dark: #222;
$blue: #387BB2;
